* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
}

html {
  overflow-x: hidden;
}

body {
  /* background-color: red; */
  max-width: 100%;
  overflow-x: hidden;
}

.bodyContainer {
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  margin: 0 auto;
}
