.main {
  background-color: #e8ecf4;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: center;
}

.description {
  margin-top: 5rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  font-size: 0.85rem;
  z-index: 2;
  flex: 1;
  align-self: center;
  padding: 0 4rem;
}

.mainHeader {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* background-color: #828282; */
}

.textContent {
  /* width: 100%; */
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
}

.topTitle {
  color: #fdc435;
  font-family: var(--nunito-font);
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.title {
  margin-top: 1.2rem;
  font-family: var(--raleway-font);
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
  animation-name: zoomIn; /* referring directly to the animation's @keyframe declaration */
  animation-duration: 2s; /* don't forget to set a duration! */
}

.subtitle {
  margin-top: 3.2rem;
  color: #828282;
  font-family: var(--nunito-font);
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.imgWrapper :global {
  /* flex-grow: 1; */
  z-index: 5;
  width: 46rem;
  height: 46rem;
  animation: zoomIn;
  animation-duration: 2s;
  /* transform: translateX(0%) translateY(-10%); */
  /* background-color: red; */
  /* overflow-x: hidden; */
}

.yellowBg {
  /* overflow-x: hidden; */
  width: 46rem;
  height: 46rem;
  /* margin-left: 8rem; */
  z-index: 1;
}

.selfImg {
  position: relative;
  /* height: 1.33 * 50rem; */
  width: 50rem;
  margin-left: 8rem;
  z-index: 2;
}

.inlinePara {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  margin-top: 3.2rem;
}

.linkedInCont {
  background-color: inherit;
  border: 2px solid #25282b;
  margin-left: 1.2rem;
}

.cardHolder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}

.translearnImgTextStyle {
  width: 12rem;
  height: 6rem;
}

.dummyHeight {
  height: 5rem;
}

.contactFooter {
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;

  /* background-color: red; */
}

.contactIcons {
  margin-top: 30rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
}

.twitterIcon {
  margin-left: 2.4rem;
  width: 4.8rem;
  height: 4.8rem;
  cursor: pointer;
  /* background-color: blueviolet; */
}

.linkedInIcon {
  cursor: pointer;
  width: 4.8rem;
  height: 4.8rem;
  /* background-color: blueviolet; */
}

.emailIcon {
  cursor: pointer;
  margin-left: 2.4rem;
  width: 4.8rem;
  height: 4.8rem;
  /* background-color: aqua; */
}

.emailIconSmall {
  width: 2.4rem;
  height: 2.4rem;
  /* background-color: aqua; */
}

.dummyHeight3 {
  height: 3rem;
}

.contactName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

.orKey {
  /* color: #828282; */
  font-family: var(--nunito-font);
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.emailClipboardCont {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.emailMe {
  color: #828282;
  font-family: var(--nunito-font);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.nameStyle {
  margin-top: 1rem;
  margin-left: 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: 0.1rem solid #25282b;
  border-radius: 1rem;
  padding: 1rem;
  background-color: white;
  /* padding-bottom: 0.5rem; */
  color: #25282b;
  font-family: var(--nunito-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* background-color: #fdc435; */
}

.emailIdText {
  color: #25282b;
  font-family: var(--nunito-font);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* background-color: red; */
  /* margin-bottom: 1rem; */
}

.clipboardIcon {
  margin-left: 2rem;
  cursor: pointer;
  width: 2.4rem;
  height: 2.4rem;
  /* background-color: aqua; */
}

.footerContainer {
  /* margin-top: 4rem; */
  /* width: 100vw; */
}

.footerImg {
  width: 100%;
  height: 22rem;
}

/* @keyframes fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
} */

@media (max-width: 1280px) {
  .imgWrapper {
    /* flex-grow: 1; */
    z-index: 5;
    width: 46rem;
    height: 46rem;
    transform: translateX(0%) translateY(0%);
    /* background-color: red; */
    /* overflow-x: hidden; */
  }

  .yellowBg {
    /* overflow-x: hidden; */
    width: 46rem;
    height: 46rem;
    /* margin-left: 8rem; */
    z-index: 1;
  }
}

@media (max-width: 1024px) {
  .mainHeader {
    flex-direction: column-reverse;
    align-items: center;
  }

  .textContent {
    margin-top: 10rem;
    align-items: center;
  }

  /* .imgWrapper {
    z-index: 5;
    width: 46rem;
    height: 46rem;
    overflow-x: visible;
    align-self: center;
  }

  .yellowBg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    width: 46rem;
    height: 46rem;
    margin-top: 4rem;
    z-index: 1;
    align-self: center;
  } */
}

@media (max-width: 768px) {
  .imgWrapper {
    /* flex-grow: 1; */
    z-index: 5;
    width: 36rem;
    height: 36rem;
    transform: translateX(0%) translateY(0%);
    /* background-color: red; */
    /* overflow-x: hidden; */
  }

  .yellowBg {
    /* overflow-x: hidden; */
    width: 36rem;
    height: 36rem;
    /* margin-left: 8rem; */
    z-index: 1;
  }
}

@media (max-width: 640px) {
}

@media (max-width: 480px) {
  .imgWrapper {
    /* flex-grow: 1; */
    z-index: 5;
    width: 28rem;
    height: 28rem;
    transform: translateX(0%) translateY(0%);
    /* background-color: red; */
    /* overflow-x: hidden; */
  }

  .yellowBg {
    /* overflow-x: hidden; */
    width: 28rem;
    height: 28rem;
    /* margin-left: 8rem; */
    z-index: 1;
  }
}
