.main {
  background-color: #e8ecf4;
  display: flex;
  flex-direction: column;
  flex: 1;
  align-self: center;
}

.description {
  margin-top: 5rem;
  display: flex;
  height: 100%;
  flex-direction: column;
  font-size: 0.85rem;
  z-index: 2;
  flex: 1;
  align-self: center;
  padding: 0 4rem;
}

.mainHeader {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* background-color: #828282; */
}

.textContent {
  /* width: 100%; */
  /* background-color: orange; */
  display: flex;
  flex-direction: column;
}

.topTitle {
  color: #fdc435;
  font-family: Nunito;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

.title {
  font-family: Raleway;
  font-size: 4rem;
  font-weight: 700;
  font-style: normal;
  line-height: 120%;
}

.subtitle {
  color: #828282;
  font-family: Nunito;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}

.imgWrapper {
  /* flex-grow: 1; */
  z-index: 5;
  width: calc(0.7486 * 56rem);
  height: 56rem;
  transform: translateX(0%) translateY(-10%);
  /* background-color: red; */
  /* overflow-x: hidden; */
}

.yellowBg {
  /* overflow-x: hidden; */
  width: calc(0.7486 * 56rem);
  height: 56rem;
  /* margin-left: 8rem; */
  z-index: 1;
}

.selfImg {
  position: relative;
  /* height: 1.33 * 50rem; */
  width: 50rem;
  margin-left: 8rem;
  z-index: 2;
}

.inlinePara {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.buttonContainer {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
}

.linkedInCont {
  background-color: inherit;
  border: 2px solid #25282b;
  margin-left: 1.2rem;
}

.cardHolder {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8rem;
}

.dummyHeight {
  height: 5rem;
}

.contactFooter {
  width: 100%;
  margin-top: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 8rem;

  /* background-color: red; */
}

.contactIcons {
  margin-top: 30rem;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: green; */
}

.twitterIcon {
  margin-left: 2.4rem;
  width: 4.8rem;
  height: 4.8rem;
  /* background-color: blueviolet; */
}

.linkedInIcon {
  width: 4.8rem;
  height: 4.8rem;
  /* background-color: blueviolet; */
}

.emailIcon {
  /* margin-left: 2.4rem; */
  width: 2.4rem;
  height: 2.4rem;
  /* background-color: aqua; */
}

.contactName {
  margin-top: 4rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* background-color: aqua; */
}

.orKey {
  /* color: #828282; */
  font-family: Nunito;
  font-size: 2rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.nameStyle {
  padding-bottom: 0.5rem;

  margin-left: 2rem;
  color: #828282;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footerContainer {
  /* margin-top: 4rem; */
  /* width: 100vw; */
}

.footerImg {
  width: 100%;
  height: 22rem;
}

@media (max-width: 1280px) {
  .imgWrapper {
    /* flex-grow: 1; */
    z-index: 5;
    width: calc(0.7486 * 56rem);
    height: 56rem;
    transform: translateX(0%) translateY(0%);
    /* background-color: red; */
    /* overflow-x: hidden; */
  }

  .yellowBg {
    /* overflow-x: hidden; */
    width: calc(0.7486 * 56rem);
    height: 56rem;
    /* margin-left: 8rem; */
    z-index: 1;
  }
}

@media (max-width: 1024px) {
  .mainHeader {
    flex-direction: column-reverse;
    align-items: center;
  }

  .textContent {
    margin-top: 10rem;
    align-items: center;
  }

  /* .imgWrapper {
    z-index: 5;
    width: calc(0.7486 * 56rem);
    height: 56rem;
    overflow-x: visible;
    align-self: center;
  }

  .yellowBg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    width: calc(0.7486 * 56rem);
    height: 562rem;
    margin-top: 4rem;
    z-index: 1;
    align-self: center;
  } */
}

@media (max-width: 768px) {
}

@media (max-width: 640px) {
}

@media (max-width: 480px) {
  .yellowBg {
    overflow: hidden;
    width: 100%;
    height: 25rem;
    z-index: 1;
    align-self: center;
  }
}
